<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  <p><b>Version 2 Placeholder Title Here</b></p>

  <div>
      <p>Basic Demo for Update operaton - Click on button below will replace quote by Yoda with exact string "Yoda" in name value</p>
      <button id="update"> Darth Vadar invades! </button>
    </div>

  <!-- Display quotes - show them to user -->
  <ul class="quotes">
  <% for ( var i=0; i<quotes.length; i++ ) {%>
    <li class="quote">
      <span><b><%= quotes[i].name + ":" %></b></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>
  
  <!-- Form to submit quotes -->
  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

  <div>
    <p>Basic Demo for Delete operation: Deletes all Darth Vadar quotes with exact string "Darth Vadar" in name value</h2>
    <button id="delete"> Delete </button>
  </div>

  <script src="main.js"></script>
</body>
</html>